.face-plate-container {
  display: 'flex';
  flex-direction: 'column';
  width: 100%;
  height: 100%;
}

.face-plate-container .charts-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  overflow-y: scroll;
}

.face-plate-container .chart-container .expand-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10000;
  height: 26px;
  font-weight: 600;
  background-color: rgba(255,255,255,0.5);
  color: gray;
  border: none;
  cursor: pointer;
  border: 1px solid black;
}
.face-plate-container .chart-container .expand-button:hover{
  color: blue;
  background-color: white;
  border: 1px solid deepskyblue;
}
.face-plate-container .chart-container .collapse-button {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 10000;
  height: 26px;
  font-weight: 600;
  color: blue;
  border-color: deepskyblue;
  cursor: pointer;
}
.face-plate-container .chart-container  .collapse-button {}

.face-plate-container .chart-container {
  position: relative;
  width: 49%;
  margin: 5px;
  height: 50%;
}

.face-plate-container  .chart-container a {
  display: none;
}
.expanded {
  width: 100% !important;
  height: 100% !important;
}